<div>
  Enter your username:
  <input #box (keyup.enter)="setUsername(box.value); box.value='' ">
</div>
<div *ngIf="username">
  <h1>{{username}}'s notes</h1>
  <input #box (keyup.enter)="postNote(box.value); box.value='' ">
  <ul>
    <li class="text" *ngFor="let note of notes | async">
      <div *ngIf="selectedId != note.id"
       (click)="selectNote(note.id)">
        {{note.text}}
      </div>
      <div *ngIf="selectedId == note.id">
        <input #box
          [ngModel]="note.text"
          (keyup.enter)="updateNote(note.id,box.value); box.value=''">
        <button (click)="deleteNote(note.id)"> Delete </button>
      </div>
      
    </li>
  </ul>
</div>

<router-outlet></router-outlet>